<h1> <%= @car.make_year %> </h1>

<ul>
  <li>Color: <%= @car.color %></li>
  <li>Runs: <%= @car.runs %></li>
  <li>
      <%= link_to 'Edit', edit_car_path(@car) %>
      <%= link_to 'Delete', car_path(@car), method: :delete %>
  </li>
</ul>

<%= link_to 'All Cars', cars_path %>
